
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
header {
    height: 180px;
    width: 100%;
}
footer {
    height: 100px;
    width: 100%;
    background: #1b1a1a;
    clear: both;
}
main{
    /* min-height : 500px; */
}
.container {
    padding: 0 4%;
}
input.submit {
    background-color: #8888e7;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-color: #8888e7;
}

th.font {
    font-size: 26px;
}

.second-bar {
    height: 80px;
    width: 100%;
}

.top-bar {
    height: 32px;
    width: 100%;
    background-color: black;
    text-decoration: none;

}

.third-bar {
    background-color: grey;
}

a.top-bar {
    color: white;
    padding: 0px 5px;
}

span.logo {
    font-size: 57px;
    margin-left: 59px;
    font-family: 'Rubik Marker Hatch', cursive;

}

span.pp {
    float: right;
    text-align: center;
    font-size: 57px;
    height: 80px;
    width: 80px;
    background-color: #a29797;
    border-radius: 80%;
}
.pclass {
    float: right;
    margin: 12px;
}
.my-menu li {

    padding: 8px;
    display: inline;
    font-size: 20px;
    color: white;
}

a.third-bar {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.sidebar {
    float: right;
}

.banner-image {
    height: 188px;
    width: 264px;
    padding: 0px 0px 12px 0px;
}

.slider-image {
    margin : auto;
    height: 406px;
    width: 1010px;
}

.my-menu {
    font-size: small;
}

.product-image {
    height: 360px;
    width: 369px;
    display: inline-block;
}
a.carta{
    float:right;
}
.contacttable{
    margin: 70px;
   
}
.input-text-register{
    height: 60px;
    padding: 5px;
    border: 4px solid #e4e4e4;
    width: 340px;
    text-transform: capitalize;
}
.cmt-submit{
    background: #3498db;
    width: 200px;
    color: #fff;
    padding: 13px;
    height: auto;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}
.text-center{
    text-align: center;
}
.white-text{
    color: #fff;
}
.text-center{
    text-align: center;
}
.white-text{
    color: #fff;
}
.ls-footer{
    color : white;
    text-align: center;
    padding: 1px 26px;
}
.is-footer{
    padding: 12px 26px;
}
.admin
{
    color:white;
}
.fa-cart
{
    color:white;
    float:right;
}
.fa-user{
    color: white;
}
.carttable{
    height: 230px;
    width: 100%;
}
.shipto{
    height: auto;
    width: 50%;
    float: right;
}
.billto
{
    height: auto;
    width: 50%;
    float: left;
}
.address{
    height: 50%;
    width: 100%;
}
.tablehead{
    float: left;
}
